<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles_index.css') }}">
    <title>Docházka - Home</title>
</head>
<body>
    <div class="container">
        <div class="menu">
            <!-- Menu items go here -->
        </div>
        <div class="content">
            <div class="box">
                <h2>Přihlášení proběhlo úspěšně</h2>
                <!-- Content for box 1 goes here -->
            </div>
            <div class="box">
                <!-- Content for box 2 goes here -->
            </div>
            <!-- Add more boxes as needed -->
        </div>
    </div>
    
</body>
</html>